body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("iceberg.gif");
    font-family: 'Raleway', sans-serif;
    color: #1e2e3a;
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    vertical-align: middle;
}

.title {
    margin-top: 30px;
    font-size: 36px;
}

.ctn {
    height: 100%;
    position: relative;
}

.nextBtn {
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3%;
}

.popup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    font-family: 'Raleway', sans-serif;
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #1e2e3a;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.pb {
    position: fixed;
    margin: 0px;
    top: 97%;
    min-width: 100%;
}

.showScore {
    top: 48%;
    font-size: 24px;
    position: fixed;
    padding: 12px 20px;
    border: 10px;
    border-color: #70a0c0;
    font-family: 'Raleway', sans-serif;
    color: #1e2e3a;
    font-weight: 500;
}


.bear-ice {
    text-align: center;
}

img {
    margin: auto;
    display: block;
}

img.bear {
    top: 20%;
    left: 36%;
    position: absolute;
    z-index: -1;
    max-width: 30%
}

img.ice {
    top: 48%;
    left: 36%;
    position: absolute;
    z-index: -2;
    max-width: 30%;
}